table {
  border-collapse: collapse;
  width: 100%;
  background-color: green;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: gold}

th {
  background-color: pink;
  color: white;
}
